In [1]:
import pandas as pd
import os
from pathlib import Path

from sqlalchemy import create_engine
import psycopg2

from config import db_password
from config import db_username

In [2]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [3]:
pd.set_option("display.max_columns", 20)
pd.set_option("display.max_rows", 20)

In [4]:
# Loading data from CSV 
file_path = "../Data/Speed Dating Data.csv"
raw_df = pd.read_csv(file_path, encoding="ISO-8859-1")
raw_df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [5]:
# Checking columns available
list(raw_df)

['iid',
 'id',
 'gender',
 'idg',
 'condtn',
 'wave',
 'round',
 'position',
 'positin1',
 'order',
 'partner',
 'pid',
 'match',
 'int_corr',
 'samerace',
 'age_o',
 'race_o',
 'pf_o_att',
 'pf_o_sin',
 'pf_o_int',
 'pf_o_fun',
 'pf_o_amb',
 'pf_o_sha',
 'dec_o',
 'attr_o',
 'sinc_o',
 'intel_o',
 'fun_o',
 'amb_o',
 'shar_o',
 'like_o',
 'prob_o',
 'met_o',
 'age',
 'field',
 'field_cd',
 'undergra',
 'mn_sat',
 'tuition',
 'race',
 'imprace',
 'imprelig',
 'from',
 'zipcode',
 'income',
 'goal',
 'date',
 'go_out',
 'career',
 'career_c',
 'sports',
 'tvsports',
 'exercise',
 'dining',
 'museums',
 'art',
 'hiking',
 'gaming',
 'clubbing',
 'reading',
 'tv',
 'theater',
 'movies',
 'concerts',
 'music',
 'shopping',
 'yoga',
 'exphappy',
 'expnum',
 'attr1_1',
 'sinc1_1',
 'intel1_1',
 'fun1_1',
 'amb1_1',
 'shar1_1',
 'attr4_1',
 'sinc4_1',
 'intel4_1',
 'fun4_1',
 'amb4_1',
 'shar4_1',
 'attr2_1',
 'sinc2_1',
 'intel2_1',
 'fun2_1',
 'amb2_1',
 'shar2_1',
 'attr3_1',
 'sinc3_1',
 'fun3_1',
 'intel3_1',
 'amb3_1',
 'attr5_1',
 'sinc5_1',
 'intel5_1',
 'fun5_1',
 'amb5_1',
 'dec',
 'attr',
 'sinc',
 'intel',
 'fun',
 'amb',
 'shar',
 'like',
 'prob',
 'met',
 'match_es',
 'attr1_s',
 'sinc1_s',
 'intel1_s',
 'fun1_s',
 'amb1_s',
 'shar1_s',
 'attr3_s',
 'sinc3_s',
 'intel3_s',
 'fun3_s',
 'amb3_s',
 'satis_2',
 'length',
 'numdat_2',
 'attr7_2',
 'sinc7_2',
 'intel7_2',
 'fun7_2',
 'amb7_2',
 'shar7_2',
 'attr1_2',
 'sinc1_2',
 'intel1_2',
 'fun1_2',
 'amb1_2',
 'shar1_2',
 'attr4_2',
 'sinc4_2',
 'intel4_2',
 'fun4_2',
 'amb4_2',
 'shar4_2',
 'attr2_2',
 'sinc2_2',
 'intel2_2',
 'fun2_2',
 'amb2_2',
 'shar2_2',
 'attr3_2',
 'sinc3_2',
 'intel3_2',
 'fun3_2',
 'amb3_2',
 'attr5_2',
 'sinc5_2',
 'intel5_2',
 'fun5_2',
 'amb5_2',
 'you_call',
 'them_cal',
 'date_3',
 'numdat_3',
 'num_in_3',
 'attr1_3',
 'sinc1_3',
 'intel1_3',
 'fun1_3',
 'amb1_3',
 'shar1_3',
 'attr7_3',
 'sinc7_3',
 'intel7_3',
 'fun7_3',
 'amb7_3',
 'shar7_3',
 'attr4_3',
 'sinc4_3',
 'intel4_3',
 'fun4_3',
 'amb4_3',
 'shar4_3',
 'attr2_3',
 'sinc2_3',
 'intel2_3',
 'fun2_3',
 'amb2_3',
 'shar2_3',
 'attr3_3',
 'sinc3_3',
 'intel3_3',
 'fun3_3',
 'amb3_3',
 'attr5_3',
 'sinc5_3',
 'intel5_3',
 'fun5_3',
 'amb5_3']

## Loading data for FIELD table (per documentation)

In [6]:
#field_df.columns = ['field_id', 'field_desc']
field_df = pd.DataFrame([[1, 'Law'], [2, 'Math'], [3, 'Social Science, Psycologist'], \
                         [4, 'Medical Science, Pharmaceuticals, and Bio Tech'], [5, 'Engineering'], \
                         [6, 'English/Creative Writing/Journalism'], [7, 'History/Religion/Philosophy'], \
                         [8, 'Business/Econ/Finance'], [9, 'Education/Academia'], [10, 'Biological Sciences/Chemistry/Physics'], \
                         [11, 'Social Work'], [12, 'Undergrad/undecided'], [13, 'Political Science/International Affairs'], \
                         [14, 'Film'], [15, 'Fine Arts/Arts Administration'], [16, 'Languages'], [17, 'Architecture'],
                         [18, 'Other']
                        ])
field_df.columns = ['field_id', 'field_desc']
field_df.set_index('field_id', inplace=True)
field_df

                                              field_desc
field_id
1                                                    Law
2                                                   Math
3                            Social Science, Psycologist
4         Medical Science, Pharmaceuticals, and Bio Tech
5                                            Engineering
6                    English/Creative Writing/Journalism
7                            History/Religion/Philosophy
8                                  Business/Econ/Finance
9                                     Education/Academia
10                 Biological Sciences/Chemistry/Physics
11                                           Social Work
12                                   Undergrad/undecided
13               Political Science/International Affairs
14                                                  Film
15                         Fine Arts/Arts Administration
16                                             Languages
17                                          Architecture
18                                                 Other

## Creating Survey_question table according to documentation

In [7]:
questions = ['What do you look for in the opposite sex?',
             'What do you think MOST of your fellow men/women look for in the opposite sex?',
             'What do you think the opposite sex looks for in a date?',
             'How do you think you measure up?',
             'How do you think others perceive you?',
             'Distribute 100-points among the six attributes in the way that best reflects the actual importance of these attributes in your decisions']
question_ids = [1, 4, 2, 3, 5, 7]    

survey_question_df = pd.DataFrame({'question_id': question_ids, 'question': questions})
survey_question_df.set_index('question_id', inplace=True)
survey_question_df.sample(2)

                                                      question
question_id
4            What do you think MOST of your fellow men/wome...
5                        How do you think others perceive you?

## Extracting data for our ERD SD_WAVE table

In [8]:
sd_wave_df = raw_df[['wave']].drop_duplicates()
sd_wave_df.rename(columns = {'wave':'wave_id'}, inplace = True)

# Adding the dates of the events (info only available in the documentation)
wave_date = ['10/16/2002', '10/23/2002', '11/12/2002', '11/12/2002', '11/20/2002', '03/26/2003', '03/26/2003', '04/02/2003', 
             '04/02/2003', '09/24/2003', '09/24/2003', '10/07/2003', '10/08/2003', '10/08/2003', '02/24/2004', '02/25/2004',
             '02/25/2004', '04/06/2004', '04/06/2004', '04/07/2004', '04/07/2004']
sd_wave_df['wave_date'] = wave_date
sd_wave_df.set_index('wave_id', inplace=True)
sd_wave_df.sample(2)

          wave_date
wave_id
12       10/07/2003
8        04/02/2003

## Extracting data for our ERD PERSON table

In [9]:
# Table person in our ERD
person_df = raw_df[['iid', 'wave', 'id', 'gender', 'age', 'race', 'field_cd',
                    'imprace', 'imprelig', 'goal', 'from', 'date', 'go_out', 'sports',
                    'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking',
                    'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies',
                    'concerts', 'music', 'shopping', 'yoga']]
person_df.columns = ['person_id', 'wave_id', 'wave_person_id', 'gender', 'age', 'race', 'field_id', 'importance_race',
                     'importance_religion', 'goal', 'origin', 'freq_date', 'freq_go_out', 'interest_sports', 'interest_tvsports',
                     'interest_exercise', 'interest_dining', 'interest_museums', 'interest_art', 'interest_hiking',
                     'interest_gaming', 'interest_clubbing', 'interest_reading', 'interest_tv', 'interest_theater',
                     'interest_movies', 'interest_concerts', 'interest_music', 'interest_shopping', 'interest_yoga']

person_df = person_df.drop_duplicates()

# person_df = person_df.dropna(axis='rows')

person_df.sample(3)

,person_id,wave_id,wave_person_id,gender,age,race,field_id,importance_race,importance_religion,goal,...,interest_gaming,interest_clubbing,interest_reading,interest_tv,interest_theater,interest_movies,interest_concerts,interest_music,interest_shopping,interest_yoga
4802,319,12,12.0,1,26.0,2.0,9.0,2.0,4.0,6.0,...,7.0,1.0,5.0,7.0,2.0,2.0,10.0,9.0,2.0,3.0
6594,435,17,6.0,0,22.0,1.0,1.0,1.0,1.0,1.0,...,2.0,9.0,9.0,1.0,8.0,7.0,9.0,9.0,10.0,10.0
2828,205,9,12.0,0,23.0,2.0,10.0,5.0,5.0,1.0,...,2.0,6.0,9.0,3.0,3.0,8.0,5.0,6.0,3.0,5.0

In [10]:
person_df.isna().sum()

person_id            0
wave_id              0
wave_person_id       1
gender               0
age                  8
                    ..
interest_movies      7
interest_concerts    7
interest_music       7
interest_shopping    7
interest_yoga        7
Length: 30, dtype: int64

##### Check parter_id with NaN value

##### Fill interest columns with 0's for NaN values

In [11]:
fields_to_fill_NaN = ['interest_sports','interest_tvsports', 'interest_exercise', 'interest_dining', 'interest_museums', \
                      'interest_art', 'interest_hiking', 'interest_gaming', 'interest_clubbing', 'interest_reading', \
                      'interest_tv', 'interest_theater', 'interest_movies', 'interest_concerts', 'interest_music', \
                      'interest_shopping', 'interest_yoga']


person_df[fields_to_fill_NaN] = person_df[fields_to_fill_NaN].fillna(0)

person_df['origin'] = person_df['origin'].fillna('')

##### Check importance_religion, importance_race, goal, freq_date, freq_go_out (to choose what method of fill suits better)

In [12]:
person_df.groupby('importance_religion').size()
# Choosing mode

importance_religion
1.0     207
2.0      53
3.0      62
4.0      35
5.0      48
6.0      38
7.0      31
8.0      33
9.0      18
10.0     20
dtype: int64

In [13]:
person_df.groupby('importance_race').size()
# Choosing mode

importance_race
0.0       1
1.0     190
2.0      60
3.0      65
4.0      33
5.0      43
6.0      34
7.0      35
8.0      42
9.0      25
10.0     17
dtype: int64

In [14]:
person_df.groupby('goal').size()
# Choosing median

goal
1.0    229
2.0    189
3.0     40
4.0     22
5.0     35
6.0     30
dtype: int64

In [15]:
person_df.groupby('freq_date').size()
# Choosing median

freq_date
1.0      7
2.0     23
3.0     54
4.0    131
5.0     99
6.0    136
7.0     94
dtype: int64

In [16]:
person_df.groupby('freq_go_out').size()
# Choosing median

freq_go_out
1.0    178
2.0    191
3.0    127
4.0     29
5.0     12
6.0      6
7.0      2
dtype: int64

In [17]:
person_df.groupby('age').size()
# Choosing median

age
18.0     1
19.0     2
20.0     5
21.0    22
22.0    44
        ..
37.0     1
38.0     1
39.0     1
42.0     1
55.0     1
Length: 24, dtype: int64

In [18]:
person_df.groupby('race').size()
# Choosing mode

race
1.0     26
2.0    305
3.0     42
4.0    136
6.0     37
dtype: int64

In [19]:
person_df.groupby('field_id').size()
# Choosing mode

field_id
1.0      48
2.0      14
3.0      46
4.0       9
5.0      56
6.0      21
7.0      17
8.0     130
9.0      40
10.0     61
11.0     30
12.0      1
13.0     46
14.0      7
15.0     11
16.0      3
17.0      1
18.0      4
dtype: int64

In [20]:
# Fix all seven columns checked above
person_df['importance_religion'].fillna(person_df['importance_religion'].mode()[0], inplace=True)
person_df['importance_race'].fillna(person_df['importance_race'].mode()[0], inplace=True)
person_df['race'].fillna(person_df['race'].mode()[0], inplace=True)
person_df['field_id'].fillna(person_df['field_id'].mode()[0], inplace=True)

person_df['goal'].fillna(person_df['goal'].median(), inplace=True)
person_df['freq_date'].fillna(person_df['importance_race'].median(), inplace=True)
person_df['freq_go_out'].fillna(person_df['importance_race'].median(), inplace=True)
person_df['age'].fillna(person_df['age'].median(), inplace=True)

##### Check the record with wave_person_id = NaN

In [21]:
person_df[person_df['wave_person_id'].isna()]

,person_id,wave_id,wave_person_id,gender,age,race,field_id,importance_race,importance_religion,goal,...,interest_gaming,interest_clubbing,interest_reading,interest_tv,interest_theater,interest_movies,interest_concerts,interest_music,interest_shopping,interest_yoga
8377,552,21,NaN,1,25.0,2.0,18.0,1.0,1.0,1.0,...,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0

In [22]:
person_df[person_df['person_id'] == 552]

,person_id,wave_id,wave_person_id,gender,age,race,field_id,importance_race,importance_religion,goal,...,interest_gaming,interest_clubbing,interest_reading,interest_tv,interest_theater,interest_movies,interest_concerts,interest_music,interest_shopping,interest_yoga
8356,552,21,22.0,1,25.0,2.0,18.0,1.0,1.0,1.0,...,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0
8377,552,21,NaN,1,25.0,2.0,18.0,1.0,1.0,1.0,...,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0

##### Drop the record with NaN since it will make no difference (there is another one with the same information and its data is intact)

In [23]:
person_df.dropna(axis=0, inplace=True)

## Extracting data for our ERD sd_wave_pair table

In [24]:
sd_wave_pair_df = raw_df[['wave', 'iid', 'pid', 'attr', 'sinc', 'intel',
                          'fun', 'amb', 'shar', 'like', 'prob','dec', 'match']]
sd_wave_pair_df.columns = ['wave_id', 'person_id', 'partner_id', 'score_attractive', 'score_sincere', 'score_intelligent',
                           'score_fun', 'score_ambitious', 'score_shared_interests', 'like', 'probability', 'decision', 'match']
sd_wave_pair_df.sample(3)

,wave_id,person_id,partner_id,score_attractive,score_sincere,score_intelligent,score_fun,score_ambitious,score_shared_interests,like,probability,decision,match
3826,11,264,277.0,6.0,6.0,7.0,7.0,6.0,6.0,6.0,6.0,1,0
3036,9,215,202.0,3.0,7.0,7.0,5.0,5.0,4.0,4.0,7.0,0,0
2598,8,193,174.0,3.0,9.0,7.0,5.0,6.0,6.0,7.0,6.0,0,0

In [25]:
# Check null values
sd_wave_pair_df.isna().sum()

wave_id                      0
person_id                    0
partner_id                  10
score_attractive           202
score_sincere              277
score_intelligent          296
score_fun                  350
score_ambitious            712
score_shared_interests    1067
like                       240
probability                309
decision                     0
match                        0
dtype: int64

##### Checking the distribuition of all columns that have NaN but partner_id

In [26]:
sd_wave_pair_df.groupby('score_attractive').size()

score_attractive
0.0        8
1.0      109
2.0      244
3.0      390
3.5        1
4.0      749
5.0     1260
6.0     1658
6.5        7
7.0     1646
7.5        3
8.0     1231
8.5        1
9.0      540
9.5        3
9.9        1
10.0     325
dtype: int64

In [27]:
sd_wave_pair_df.groupby('score_sincere').size()

score_sincere
0.0        9
1.0       38
2.0       75
3.0      134
4.0      278
4.5        1
5.0      701
6.0     1255
7.0     1896
7.5        1
8.0     2046
8.5        2
9.0      930
10.0     735
dtype: int64

In [28]:
sd_wave_pair_df.groupby('score_intelligent').size()

score_intelligent
0.0        5
1.0       13
2.0       34
2.5        1
3.0       69
4.0      161
5.0      630
5.5        1
6.0     1155
6.5        3
7.0     2023
7.5        4
8.0     2199
8.5        2
9.0     1106
9.5        1
10.0     675
dtype: int64

In [29]:
sd_wave_pair_df.groupby('score_fun').size()

score_fun
0.0       14
1.0      107
2.0      220
3.0      281
4.0      607
5.0     1158
5.5        2
6.0     1532
6.5        2
7.0     1657
7.5        2
8.0     1456
8.5        1
9.0      600
9.5        1
10.0     388
dtype: int64

In [30]:
sd_wave_pair_df.groupby('score_ambitious').size()

score_ambitious
0.0        5
1.0       42
2.0      101
3.0      173
4.0      361
5.0     1106
5.5        1
6.0     1425
7.0     1681
7.5        2
8.0     1509
8.5        1
9.0      788
9.5        1
10.0     470
dtype: int64

In [31]:
sd_wave_pair_df.groupby('score_shared_interests').size()

score_shared_interests
0.0       59
1.0      239
2.0      485
3.0      588
4.0      783
5.0     1465
5.5        1
6.0     1248
6.5        2
7.0     1150
7.5        4
8.0      771
8.5        2
9.0      317
10.0     197
dtype: int64

In [32]:
sd_wave_pair_df.groupby('like').size()

like
0.0        8
1.0      110
2.0      223
3.0      396
4.0      645
4.5        3
5.0     1319
5.5        2
6.0     1709
6.5       20
7.0     1816
7.5        6
8.0     1274
8.5        9
9.0      412
9.5        3
9.7        1
10.0     182
dtype: int64

In [33]:
sd_wave_pair_df.groupby('probability').size()

probability
0.0       49
1.0      415
1.5        1
2.0      539
3.0      708
3.5        1
4.0      932
4.5        3
5.0     1799
5.5        2
6.0     1395
6.5        6
7.0     1130
7.5        3
8.0      652
8.5        4
9.0      241
9.5        1
10.0     188
dtype: int64

In [34]:
# # just for fun - select the records that had prob < 5, like > 5 and matched.
# # my reading: probably the person was so interested that thought would not stand a chance...
# sd_wave_pair_df[(sd_wave_pair_df['probability'] < 5) & (sd_wave_pair_df['like'] > 5) & (sd_wave_pair_df['match'] == 1)]

In [35]:
# Remove rows that have partner_id = null (no information in there) and fill the rest with 0's
sd_wave_pair_df = sd_wave_pair_df[sd_wave_pair_df.partner_id.notna()]
sd_wave_pair_df = sd_wave_pair_df.fillna(0)
sd_wave_pair_df.sample(3)

,wave_id,person_id,partner_id,score_attractive,score_sincere,score_intelligent,score_fun,score_ambitious,score_shared_interests,like,probability,decision,match
7793,21,526,540.0,3.0,7.0,8.0,5.0,9.0,5.0,7.0,2.0,0,0
2237,7,163,147.0,7.0,9.0,7.0,8.0,7.0,8.0,6.0,6.0,0,0
346,2,30,42.0,6.0,7.0,8.0,7.0,8.0,7.0,8.0,6.0,0,0

In [36]:
# Check all values are good
sd_wave_pair_df.isna().sum()

wave_id                   0
person_id                 0
partner_id                0
score_attractive          0
score_sincere             0
score_intelligent         0
score_fun                 0
score_ambitious           0
score_shared_interests    0
like                      0
probability               0
decision                  0
match                     0
dtype: int64

## Extracting data for our ERD preference_perception table

In [37]:
pref_percep_df = raw_df[['wave', 'iid', 'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1']].drop_duplicates()
pref_percep_df.rename(columns = {'attr1_1':'attr', 'sinc1_1': 'sinc', 'intel1_1': 'intel', 'fun1_1': 'fun', 'amb1_1': 'amb', 'shar1_1': 'shar'}, inplace = True)
pref_percep_df['question'] = 1
pref_percep_df['phase'] = 1

aux_df = raw_df[['wave', 'iid', 'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2']].drop_duplicates()
aux_df.rename(columns = {'attr1_2':'attr', 'sinc1_2': 'sinc', 'intel1_2': 'intel', 'fun1_2': 'fun', 'amb1_2': 'amb', 'shar1_2': 'shar'}, inplace = True)
aux_df['question'] = 1
aux_df['phase'] = 2
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3']].drop_duplicates()
aux_df.rename(columns = {'attr1_3':'attr', 'sinc1_3': 'sinc', 'intel1_3': 'intel', 'fun1_3': 'fun', 'amb1_3': 'amb', 'shar1_3': 'shar'}, inplace = True)
aux_df['question'] = 1
aux_df['phase'] = 3
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel   fun  amb  shar  question  phase
1588    19  488   NaN   NaN    NaN   NaN  NaN   NaN         1      3
15       1   16  50.0   0.0   30.0  10.0  0.0  10.0         1      1

In [38]:
aux_df = raw_df[['wave', 'iid', 'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1']].drop_duplicates()
aux_df.rename(columns = {'attr4_1':'attr', 'sinc4_1': 'sinc', 'intel4_1': 'intel', 'fun4_1': 'fun', 'amb4_1': 'amb', 'shar4_1': 'shar'}, inplace = True)
aux_df['question'] = 4
aux_df['phase'] = 1
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)


aux_df = raw_df[['wave', 'iid', 'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2']].drop_duplicates()
aux_df.rename(columns = {'attr4_2':'attr', 'sinc4_2': 'sinc', 'intel4_2': 'intel', 'fun4_2': 'fun', 'amb4_2': 'amb', 'shar4_2': 'shar'}, inplace = True)
aux_df['question'] = 4
aux_df['phase'] = 2
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3', 'amb4_3', 'shar4_3']].drop_duplicates()
aux_df.rename(columns = {'attr4_3':'attr', 'sinc4_3': 'sinc', 'intel4_3': 'intel', 'fun4_3': 'fun', 'amb4_3': 'amb', 'shar4_3': 'shar'}, inplace = True)
aux_df['question'] = 4
aux_df['phase'] = 3
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel   fun  amb  shar  question  phase
260     11  262  10.0  40.0   20.0  20.0  0.0  10.0         1      1
2490    11  288  40.0  15.0   15.0  30.0  0.0   0.0         4      2

In [39]:
aux_df = raw_df[['wave', 'iid', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1']].drop_duplicates()
aux_df.rename(columns = {'attr2_1':'attr', 'sinc2_1': 'sinc', 'intel2_1': 'intel', 'fun2_1': 'fun', 'amb2_1': 'amb', 'shar2_1': 'shar'}, inplace = True)
aux_df['question'] = 2
aux_df['phase'] = 1
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2']].drop_duplicates()
aux_df.rename(columns = {'attr2_2':'attr', 'sinc2_2': 'sinc', 'intel2_2': 'intel', 'fun2_2': 'fun', 'amb2_2': 'amb', 'shar2_2': 'shar'}, inplace = True)
aux_df['question'] = 2
aux_df['phase'] = 2
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3', 'amb2_3', 'shar2_3']].drop_duplicates()
aux_df.rename(columns = {'attr2_3':'attr', 'sinc2_3': 'sinc', 'intel2_3': 'intel', 'fun2_3': 'fun', 'amb2_3': 'amb', 'shar2_3': 'shar'}, inplace = True)
aux_df['question'] = 2
aux_df['phase'] = 3
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel   fun   amb  shar  question  phase
2445    10  243  25.0  20.0   15.0  20.0   5.0  15.0         4      2
3586    11  282  25.0  15.0   20.0  10.0  20.0  10.0         2      1

In [40]:
aux_df = raw_df[['wave', 'iid', 'attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1']].drop_duplicates()
aux_df.rename(columns = {'attr3_1':'attr', 'sinc3_1': 'sinc', 'intel3_1': 'intel', 'fun3_1': 'fun', 'amb3_1': 'amb'}, inplace = True)
aux_df['question'] = 3
aux_df['phase'] = 1
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2']].drop_duplicates()
aux_df.rename(columns = {'attr3_2':'attr', 'sinc3_2': 'sinc', 'intel3_2': 'intel', 'fun3_2': 'fun', 'amb3_2': 'amb'}, inplace = True)
aux_df['question'] = 3
aux_df['phase'] = 2
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3']].drop_duplicates()
aux_df.rename(columns = {'attr3_3':'attr', 'sinc3_3': 'sinc', 'intel3_3': 'intel', 'fun3_3': 'fun', 'amb3_3': 'amb'}, inplace = True)
aux_df['question'] = 3
aux_df['phase'] = 3
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel  fun   amb  shar  question  phase
3144    15  391  60.0   0.0    0.0  0.0  40.0   0.0         4      3
6054    21  546   8.0   6.0    8.0  9.0   5.0   0.0         3      2

In [41]:
aux_df = raw_df[['wave', 'iid', 'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1']].drop_duplicates()
aux_df.rename(columns = {'attr5_1':'attr', 'sinc5_1': 'sinc', 'intel5_1': 'intel', 'fun5_1': 'fun', 'amb5_1': 'amb'}, inplace = True)
aux_df['question'] = 5
aux_df['phase'] = 1
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr5_2', 'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2']].drop_duplicates()
aux_df.rename(columns = {'attr5_2':'attr', 'sinc5_2': 'sinc', 'intel5_2': 'intel', 'fun5_2': 'fun', 'amb5_2': 'amb'}, inplace = True)
aux_df['question'] = 5
aux_df['phase'] = 2
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3']].drop_duplicates()
aux_df.rename(columns = {'attr5_3':'attr', 'sinc5_3': 'sinc', 'intel5_3': 'intel', 'fun5_3': 'fun', 'amb5_3': 'amb'}, inplace = True)
aux_df['question'] = 5
aux_df['phase'] = 3
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel  fun  amb  shar  question  phase
5200    10  243   7.0   9.0    9.0  8.0  5.0   0.0         3      1
7508    14  347   NaN   NaN    NaN  NaN  NaN   0.0         5      2

In [42]:
aux_df = raw_df[['wave', 'iid', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s']].drop_duplicates()
aux_df.rename(columns = {'attr1_s':'attr', 'sinc1_s': 'sinc', 'intel1_s': 'intel', 'fun1_s': 'fun', 'amb1_s': 'amb'}, inplace = True)
aux_df['question'] = 1
aux_df['phase'] = 0
aux_df['shar'] = 0

pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s']].drop_duplicates()
aux_df.rename(columns = {'attr3_s':'attr', 'sinc3_s': 'sinc', 'intel3_s': 'intel', 'fun3_s': 'fun', 'amb3_s': 'amb'}, inplace = True)
aux_df['question'] = 3
aux_df['phase'] = 0
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel   fun   amb  shar  question  phase
5401    17  444   8.0   7.0    8.0   9.0   7.0   0.0         3      1
3629    13  325  30.0  20.0   10.0  20.0  10.0  10.0         2      1

In [43]:
aux_df = raw_df[['wave', 'iid', 'attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2']].drop_duplicates()
aux_df.rename(columns = {'attr7_2':'attr', 'sinc7_2': 'sinc', 'intel7_2': 'intel', 'fun7_2': 'fun', 'amb7_2': 'amb'}, inplace = True)
aux_df['question'] = 7
aux_df['phase'] = 2
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3', 'amb7_3']].drop_duplicates()
aux_df.rename(columns = {'attr7_3':'attr', 'sinc7_3': 'sinc', 'intel7_3': 'intel', 'fun7_3': 'fun', 'amb7_3': 'amb'}, inplace = True)
aux_df['question'] = 7
aux_df['phase'] = 3
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel   fun   amb  shar  question  phase
1408    12  308   NaN   NaN    NaN   NaN   NaN   NaN         1      3
4209    14  354  25.0  15.0   10.0  20.0  15.0  15.0         2      2

##### Dropping all rows that have all five attributes as NaN (not considering shared because shared because not all questions have to do with the opposite sex or date)

In [44]:
all_attributes_NaN = pref_percep_df['attr'].isna() & pref_percep_df['sinc'].isna() & pref_percep_df['intel'].isna() & pref_percep_df['fun'].isna() & pref_percep_df['amb'].isna() 

pref_percep_df = pref_percep_df.drop(index=pref_percep_df[all_attributes_NaN == True].index)
pref_percep_df

       wave  iid  attr  sinc  intel   fun   amb  shar  question  phase
0         1    1  15.0  20.0   20.0  15.0  15.0  15.0         1      1
1         1    2  45.0   5.0   25.0  20.0   0.0   5.0         1      1
2         1    3  35.0  10.0   35.0  10.0  10.0   0.0         1      1
3         1    4  20.0  20.0   20.0  20.0  10.0  10.0         1      1
4         1    5  20.0   5.0   25.0  25.0  10.0  15.0         1      1
...     ...  ...   ...   ...    ...   ...   ...   ...       ...    ...
10461    21  545  20.0  20.0   20.0  20.0  10.0   0.0         7      3
10462    21  546  40.0   0.0    0.0  40.0   0.0   0.0         7      3
10464    21  548  40.0  10.0   20.0  10.0   0.0   0.0         7      3
10465    21  549  40.0   0.0   30.0  30.0   0.0   0.0         7      3
10468    21  552  70.0   0.0   20.0  10.0   0.0   0.0         7      3

[6201 rows x 10 columns]

In [45]:
pref_percep_df.isna().sum()

wave         0
iid          0
attr         1
sinc         2
intel        0
fun          1
amb          5
shar        67
question     0
phase        0
dtype: int64

##### Rename columns per DB structure and for the rest of NaNs,  just fill with 0's

In [46]:
pref_percep_df.columns = ['wave_id', 'person_id', 'attractive', 'sincere', 'intelligent', 'fun', 'ambitious', 'shared_interest',
                          'question_id', 'survey_phase']
pref_percep_df.fillna(0, inplace=True)
#pref_percep_df = pref_percep_df.dropna(axis='rows')
pref_percep_df['self'] = 0

In [47]:
pref_percep_df

,wave_id,person_id,attractive,sincere,intelligent,fun,ambitious,shared_interest,question_id,survey_phase,self
0,1,1,15.0,20.0,20.0,15.0,15.0,15.0,1,1,0
1,1,2,45.0,5.0,25.0,20.0,0.0,5.0,1,1,0
2,1,3,35.0,10.0,35.0,10.0,10.0,0.0,1,1,0
3,1,4,20.0,20.0,20.0,20.0,10.0,10.0,1,1,0
4,1,5,20.0,5.0,25.0,25.0,10.0,15.0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
10461,21,545,20.0,20.0,20.0,20.0,10.0,0.0,7,3,0
10462,21,546,40.0,0.0,0.0,40.0,0.0,0.0,7,3,0
10464,21,548,40.0,10.0,20.0,10.0,0.0,0.0,7,3,0
10465,21,549,40.0,0.0,30.0,30.0,0.0,0.0,7,3,0
10468,21,552,70.0,0.0,20.0,10.0,0.0,0.0,7,3,0

In [48]:
# Verify 100-points x 10 points per score (only waves from 6-9 use a 10-point base for each attribute)
# Adjustments

In [49]:
pref_percep_df['total'] = pref_percep_df['attractive'] + pref_percep_df['sincere'] + pref_percep_df['intelligent'] + \
        pref_percep_df['fun'] + pref_percep_df['ambitious'] + pref_percep_df['shared_interest']

pref_percep_df.sample(3)

,wave_id,person_id,attractive,sincere,intelligent,fun,ambitious,shared_interest,question_id,survey_phase,self,total
1416,12,316,25.0,20.0,15.0,25.0,10.0,5.0,1,3,0,100.0
3696,15,392,25.0,10.0,10.0,25.0,15.0,15.0,2,1,0,100.0
9049,10,235,6.0,9.0,8.0,8.0,8.0,0.0,3,0,0,39.0

In [50]:
# Adjusting all values to 100-base

pref_percep_df = pref_percep_df.assign(new_attractive=lambda r: (r['attractive']*100/r['total']))
pref_percep_df = pref_percep_df.assign(new_sincere=lambda r: (r['sincere']*100/r['total']))
pref_percep_df = pref_percep_df.assign(new_intelligent=lambda r: (r['intelligent']*100/r['total']))
pref_percep_df = pref_percep_df.assign(new_fun=lambda r: (r['fun']*100/r['total']))
pref_percep_df = pref_percep_df.assign(new_ambitious=lambda r: (r['ambitious']*100/r['total']))
pref_percep_df = pref_percep_df.assign(new_shared_interest=lambda r: (r['shared_interest']*100/r['total']))

pref_percep_df.sample(10)

,wave_id,person_id,attractive,sincere,intelligent,fun,ambitious,shared_interest,question_id,survey_phase,self,total,new_attractive,new_sincere,new_intelligent,new_fun,new_ambitious,new_shared_interest
6354,12,295,7.00,9.00,8.00,8.00,6.00,0.00,3,3,0,38.00,18.421053,23.684211,21.052632,21.052632,15.789474,0.000000
5551,2,42,7.00,9.00,8.00,6.00,6.00,0.00,3,2,0,36.00,19.444444,25.000000,22.222222,16.666667,16.666667,0.000000
7466,12,305,7.00,8.00,8.00,7.00,7.00,0.00,5,2,0,37.00,18.918919,21.621622,21.621622,18.918919,18.918919,0.000000
313,12,315,6.67,19.05,42.86,9.52,14.29,7.62,1,1,0,100.01,6.669333,19.048095,42.855714,9.519048,14.288571,7.619238
1863,9,212,9.00,6.00,6.00,9.00,6.00,6.00,4,1,0,42.00,21.428571,14.285714,14.285714,21.428571,14.285714,14.285714
6303,10,244,7.00,9.00,8.00,8.00,9.00,0.00,3,3,0,41.00,17.073171,21.951220,19.512195,19.512195,21.951220,0.000000
8528,11,265,45.00,10.00,10.00,15.00,10.00,0.00,1,0,0,90.00,50.000000,11.111111,11.111111,16.666667,11.111111,0.000000
193,9,195,15.38,19.23,19.23,19.23,13.46,13.46,1,1,0,99.99,15.381538,19.231923,19.231923,19.231923,13.461346,13.461346
5412,18,455,7.00,9.00,8.00,9.00,8.00,0.00,3,1,0,41.00,17.073171,21.951220,19.512195,21.951220,19.512195,0.000000
1841,8,190,9.00,7.00,8.00,9.00,8.00,7.00,4,1,0,48.00,18.750000,14.583333,16.666667,18.750000,16.666667,14.583333

In [51]:
pref_percep_df.drop(columns=['attractive', 'sincere', 'intelligent', 'fun', 'ambitious', 'shared_interest', 'total'], inplace=True)
pref_percep_df.sample(5)

,wave_id,person_id,question_id,survey_phase,self,new_attractive,new_sincere,new_intelligent,new_fun,new_ambitious,new_shared_interest
324,13,326,1,1,0,15.000000,15.000000,15.000000,20.000000,20.000000,15.0
529,21,531,1,1,0,15.000000,30.000000,20.000000,20.000000,10.000000,5.0
5977,19,469,3,2,0,24.242424,24.242424,18.181818,21.212121,12.121212,0.0
5846,13,338,3,2,0,16.279070,20.930233,20.930233,18.604651,23.255814,0.0
1162,3,61,1,3,0,0.000000,20.000000,25.000000,15.000000,15.000000,25.0

In [52]:
pref_percep_df.rename(columns={'new_attractive': 'attractive', 'new_sincere': 'sincere', 'new_intelligent': 'intelligent', \
                               'new_fun': 'fun', 'new_ambitious': 'ambitious', 'new_shared_interest': 'shared_interest'}, inplace=True)
pref_percep_df.sample(3)

,wave_id,person_id,question_id,survey_phase,self,attractive,sincere,intelligent,fun,ambitious,shared_interest
509,21,511,1,1,0,20.000000,10.000000,10.000000,30.000000,15.000000,15.0
7092,19,482,5,1,0,16.666667,21.428571,19.047619,21.428571,21.428571,0.0
4739,13,333,2,3,0,30.000000,15.000000,15.000000,20.000000,15.000000,5.0

## Transferring data to the database

Because our database has refencial integrity constraints, loading has to happen in an orderly fashion

In [53]:
# Connect to the database
#db_string = f"postgresql://{db_username}:{db_password}@localhost:5432/movie_data"
db_string = f"postgresql://{db_username}:{db_password}@localhost:5432/SpeedDate"
engine = create_engine(db_string)

In [54]:
field_df.to_sql(name='field', con=engine, if_exists='append')

In [55]:
sd_wave_df.to_sql(name='sd_wave', con=engine, if_exists='append')

In [56]:
person_df.to_sql(name='person', con=engine, if_exists='append', index=False)

In [57]:
survey_question_df.to_sql(name='survey_question', con=engine, if_exists='append')

In [58]:
pref_percep_df.to_sql(name='preference_perception', con=engine, if_exists='append', index=False)

In [59]:
sd_wave_pair_df.to_sql(name='sd_wave_pair', con=engine, if_exists='append', index=False)